<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<button (click)="page = 'dashboard'">Dashboard</button>
<button (click)="page = 'esri'">ESRI</button>

<app-dashboard *ngIf="page === 'dashboard'"></app-dashboard>
<app-esri *ngIf="page === 'esri'"></app-esri>
