<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div style="display: flex; flex-direction: column;">
  <h2>Page: {{mapName}}</h2>
  <h2>Timeout: {{seconds}} Seconds</h2>
  <h2>Timeout: {{minutes}} Minutes</h2>
  <h2>Maps Loaded: {{tabChange}}</h2>
</div>

<app-esri [mapId]="mapName"></app-esri>

